html,
body,
#app{
    padding: 0;
    margin: 0;
    height: 100%;
}
.ivu-layout-sider-zero-width-trigger{
    z-index: 5;
}
/* 分页居中 */
.ivu-page {
    margin-top: 15px;
    text-align: center;
}
/* 按钮 */
.ivu-btn {
    margin: 0 10px;
}

/* form upload */
.uploadImg {
    height: 33px;
}
.upload {
    margin: 0;
}